 <app-contador></app-contador>
<!--<app-heroe></app-heroe> -->
<!-- <app-listado></app-listado> -->

<!-- <h1>{{titulo}}</h1> -->
<!-- Esta es una forma pero existe otra-->
<!-- <button (click)="numero = numero + 1;">+ 1</button> -->

<!-- <span>{{numero}}</span> -->

<!-- <button (click)="numero = numero -1;">- 1</button> -->

<!-- /***********************************************/ -->

<!-- Este es otro tipo aqui se hace uso del typescript en el app.component -->
<!-- <button (click)="sumar()">+ 1</button>

<span>{{numero}}</span>

<button (click)="restar()">- 1</button> -->

<!-- /*******************************************/ -->
<!-- Este es el metodo mas indicado para hacer este tipo de contadores -->
<!-- <button (click)="acumular(+1)">+ 1</button>

<span>{{numero}}</span>

<button (click)="acumular(-1)">- 1</button> -->

<!-- ////////////// TAREA ////////////////// -->
<!-- <h3>La base es de: <strong>{{base}}</strong></h3>

<button (click)="acumular(base)">{{base}}</button>

<span>{{numero}}</span>

<button (click)="acumular(-base)">{{base}}</button> -->